## NYC Flights 2013 Analysis

In [ ]:
## import data
library(tidyverse)
flights <- read.csv("flights.csv")

In [ ]:
## preview data
glimpse(flights)
glimpse(airports)
glimpse(airlines)

Rows: 336,776
Columns: 19
$ year           <int> 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2…
$ month          <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ day            <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ dep_time       <int> 517, 533, 542, 544, 554, 554, 555, 557, 557, 558, 558, …
$ sched_dep_time <int> 515, 529, 540, 545, 600, 558, 600, 600, 600, 600, 600, …
$ dep_delay      <dbl> 2, 4, 2, -1, -6, -4, -5, -3, -3, -2, -2, -2, -2, -2, -1…
$ arr_time       <int> 830, 850, 923, 1004, 812, 740, 913, 709, 838, 753, 849,…
$ sched_arr_time <int> 819, 830, 850, 1022, 837, 728, 854, 723, 846, 745, 851,…
$ arr_delay      <dbl> 11, 20, 33, -18, -25, 12, 19, -14, -8, 8, -2, -3, 7, -1…
$ carrier        <chr> "UA", "UA", "AA", "B6", "DL", "UA", "B6", "EV", "B6", "…
$ flight         <int> 1545, 1714, 1141, 725, 461, 1696, 507, 5708, 79, 301, 4…
$ tailnum        <chr> "N14228", "N24211", "N619AA", "N804JB", "N668DN", "N394…
$ origin         <chr> "EWR", "LGA", "JFK", "JFK", "LGA", "EWR", "EWR", "LGA",…
$ dest           <chr> "IAH", "IAH", "MIA", "BQN", "ATL", "ORD", "FLL", "IAD",…
$ air_time       <dbl> 227, 227, 160, 183, 116, 150, 158, 53, 140, 138, 149, 1…
$ distance       <dbl> 1400, 1416, 1089, 1576, 762, 719, 1065, 229, 944, 733, …
$ hour           <dbl> 5, 5, 5, 5, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 6…
$ minute         <dbl> 15, 29, 40, 45, 0, 58, 0, 0, 0, 0, 0, 0, 0, 0, 0, 59, 0…
$ time_hour      <dttm> 2013-01-01 10:00:00, 2013-01-01 10:00:00, 2013-01-01 1…
Rows: 1,458
Columns: 8
$ faa   <chr> "04G", "06A", "06C", "06N", "09J", "0A9", "0G6", "0G7", "0P2", "…
$ name  <chr> "Lansdowne Airport", "Moton Field Municipal Airport", "Schaumbur…
$ lat   <dbl> 41.13047, 32.46057, 41.98934, 41.43191, 31.07447, 36.37122, 41.4…
$ lon   <dbl> -80.61958, -85.68003, -88.10124, -74.39156, -81.42778, -82.17342…
$ alt   <dbl> 1044, 264, 801, 523, 11, 1593, 730, 492, 1000, 108, 409, 875, 10…
$ tz    <dbl> -5, -6, -6, -5, -5, -5, -5, -5, -5, -8, -5, -6, -5, -5, -5, -5, …
$ dst   <chr> "A", "A", "A", "A", "A", "A", "A", "A", "U", "A", "A", "U", "A",…
$ tzone <chr> "America/New_York", "America/Chicago", "America/Chicago", "Ameri…
Rows: 16
Columns: 2
$ carrier <chr> "9E", "AA", "AS", "B6", "DL", "EV", "F9", "FL", "HA", "MQ", "O…
$ name    <chr> "Endeavor Air Inc.", "American Airlines Inc.", "Alaska Airline…

In [ ]:
## Q1 Where is the most popular destination?
## Chicago

flights %>%
    count(dest) %>%
        arrange(desc(n)) %>%
            left_join(airports, by = c("dest" = "faa")) %>%
                head(5)

dest,n,name,lat,lon,alt,tz,dst,tzone
<chr>,<int>,<chr>,<dbl>,<dbl>,<dbl>,<dbl>,<chr>,<chr>
ORD,17283,Chicago Ohare Intl,41.97860,-87.90484,668,-6,A,America/Chicago
ATL,17215,Hartsfield Jackson Atlanta Intl,33.63672,-84.42807,1026,-5,A,America/New_York
LAX,16174,Los Angeles Intl,33.94254,-118.40807,126,-8,A,America/Los_Angeles
BOS,15508,General Edward Lawrence Logan Intl,42.36435,-71.00518,19,-5,A,America/New_York
MCO,14082,Orlando Intl,28.42939,-81.30899,96,-5,A,America/New_York

In [ ]:
## Q2 Which airline has the least delays?
## Alaska Airlines Inc.

flights %>%
    group_by(carrier) %>%
        summarize(avg_delay = mean(arr_delay, na.rm = T)) %>%
            arrange(avg_delay) %>%
                left_join(airlines, by = "carrier") %>%
                    head(5)

carrier,avg_delay,name
<chr>,<dbl>,<chr>
AS,-9.9308886,Alaska Airlines Inc.
HA,-6.9152047,Hawaiian Airlines Inc.
AA,0.3642909,American Airlines Inc.
DL,1.6443409,Delta Air Lines Inc.
VX,1.7644644,Virgin America

In [ ]:
## Q3 Which flight is the longest flight?
## 412, 701, 707, 727, 739, 745, 839, 1503
flights %>%
    mutate(time_spent = hour*60 + minute) %>%
        group_by(flight) %>%
            summarise(max_time = max(time_spent)) %>%
                arrange(desc(max_time))

flight,max_time
<int>,<dbl>
412,1439
701,1439
707,1439
727,1439
739,1439
745,1439
839,1439
1503,1439
424,1435
2380,1435
2466,1435
483,1425
636,1419
1389,1410
718,1385
234,1380
309,1380
1066,1380
1446,1380
1525,1380
112,1378
1018,1378
30,1375
108,1375
486,1375
2002,1375
22,1371
608,1370
1816,1370
128,1365
⋮,⋮
2161,360
2213,360
2387,360
2656,360
2817,360
3011,360
3037,360
3136,360
3768,360
3938,360
4448,360
4458,360
4650,360
4911,360
5020,360
5068,360
5310,360
5559,360
5689,360
5694,360
5716,360
5739,360
5752,360
6012,360
6055,360
1500,345
2243,345
1096,320
1487,315
1987,300

In [ ]:
## Q4 What month do people fly the most?
## July(7)

flights %>%
    group_by(month) %>%
        summarise(count_flight = n()) %>%
            arrange(desc(count_flight)) %>%
                head(5)

month,count_flight
<int>,<int>
7,29425
8,29327
10,28889
3,28834
5,28796

In [ ]:
## Q5 Which airline has the least flight?
## SkyWest Airlines Inc.

flights %>%
    group_by(carrier) %>%
        summarise(count_flight = n()) %>%
            arrange(count_flight) %>%
                left_join(airlines, by = "carrier") %>%
                    head(5)

carrier,count_flight,name
<chr>,<int>,<chr>
OO,32,SkyWest Airlines Inc.
HA,342,Hawaiian Airlines Inc.
YV,601,Mesa Airlines Inc.
F9,685,Frontier Airlines Inc.
AS,714,Alaska Airlines Inc.

## RPostgreSQL

In [ ]:
install.packages("RPostgreSQL")
library(RPostgreSQL)

ERROR: ERROR: ERROR: Error in library(RPostgreSQL): there is no package called ‘RPostgreSQL’

In [ ]:
## create connection

con <- dbConnect(
  PostgreSQL(),
  host = "arjuna.db.elephantsql.com",
  dbname = "pthzxvim",
  port = 5432, #default for PostgreSQL
  user = "pthzxvim",
  password = "tpodM_UsfSof8mFfGkHFtzzHgbqd5BhH"
)

ERROR: ERROR: ERROR: Error in dbConnect(PostgreSQL(), host = "arjuna.db.elephantsql.com", dbname = "pthzxvim", : could not find function "dbConnect"

In [ ]:
# create dataframe 01

books_list <- data.frame(
  id = 1:5,
  book_name = c("The Lost Skill", "The Midnight Library", "Please to meet me", "Emotional Agility", "Shine"),
  score = c(4, 4, 3, 3, 3)
)

dbWriteTable(con, "books_list", books_list)

In [ ]:
# create dataframe 02

music_list <- data.frame(
  id = 1:5,
  song_name = c("Until I Found You", "Both Side Now", "Smells Like Me", "Beautiful Love"),
  artist = c("Stephen Sanchez", "Emily Jones", "Charlie Puth", "Justin Bieber")
)

dbWriteTable(con, "music_list", music_list)

In [ ]:
# create dataframe 03

fav_place <- data.frame(
    id = 1:5
    country = c("Japan", "Korea", "Singapore", "Australia", "England" ),
    region = c("Asia", "Asia", "Asia", "Australia", "Europe")
)

dbWriteTable(con, "fav_place", fav_place)

In [ ]:
## get data from database

dbGetQuery(con, "SELECT * FROM books_list")
dbGetQuery(con, "SELECT * FROM music_list")
dbGetQuery(con, "SELECT * FROM fav_place")

In [ ]:
## close connection

dbDisconnect(con)